
//
// VARIABLES
//

// Colors
$blue: #6699ff;
$lime: #d2ff4d;

// Grays
$black: #000000;
$darkerGray: #313131;
$darkGray: #292929;
$gray: #c9c9c9;
$lightGray: #eeeeee;
$white: #ffffff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
